.chatMessagesWrapper{
    /*height: 100%;*/
    background-color: yellow;
}

.blueMainSectionImage{
    background-image: url("../../src/Assets/farm.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    width: 100%;
    height: 33%;
    border-radius: 20px 20px 0px 0px;
    position: relative;
}


.blueLogoSectionWrapper{
    height: 50%;
    position: relative;

}
.crossIconWrapper{
    position: absolute;
    top:25%;
    right: 10%;
    cursor: pointer;
    background-color:black;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.blackSectionContentWrapper{
    position: absolute;
    width: 100%;
    bottom: 0%;
}

.flexWrapperBlack{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
