.robotProfileWrapper{
    /*background-color: red;*/
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding:10px;

}
.userProfileWrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:10px;
}
.silviaProfileImageWrapper{
    margin-right: 10px;

    background-color: #1898c0;
    border-radius: 50px;
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;



}
.silviaProfileImageWrapper img{
    width: 40px;
}
.userProfileImageWrapper{
    margin-left: 10px;
    background-color: black;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;


}

.chatBoxMessageWrapper {

    font-size: 14px;


}

.pointerMessages{
    border:solid 10px transparent;
    border-left-color: green;
    position:absolute;
    right: 0%;
    top:6%;
}

.messageWrapper{
    border-radius:13px;
    padding:10px;
    background-color: #eaeff3;

}
.userMessageWrapper{
    border-radius:13px;
    padding:10px;
    background-color: blue;
    color: white;
}
.audioWrapper audio{
    width: 200px;
    /*display: none;*/
}



.LoadingWrapperChat{
     /*background-color: red;*/
    position: absolute;
    top: 50%;
    left: 43%;
    z-index: 99;
}



/*Modal Delete Style*/
.deleteModalMainWrapper{
    position: absolute;
    top: 40%;
    /*left: 35%;*/
    z-index: 99;
    width: 100%;

}
.deleteModalBgWrapper{
    display: flex;
    margin:5%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #a6a2a2;
    box-shadow: 2px 2px 22px #a6a2a2;
    padding: 20px 20px;
    font-size: 14px;
    text-align: center;
}

.deleteChatBtnWrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    transition: 0.8s;
}

.deleteChatBtnWrapper .noBtnStyle{
    background-color: #8B0000;
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
    padding: 10px 5px;
    width: 80px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.deleteChatBtnWrapper .yesBtnStyle{
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
    padding: 10px 5px;
    width: 80px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

